<script type="text/x-handlebars">
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inpunAccount">Account</label>
    <div class="controls">
      {{view Em.TextField placeholder="Account" valueBinding="App.account"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Token</label>
    <div class="controls">
      {{view Em.TextField placeholder="Token" valueBinding="App.token"}}
    </div>
  </div>
</form>
</script>