<script type="text/x-handlebars">

	<div class="button_block">
	{{#view App.assetsViewController}}
		<button class="btn" {{action "loadAssets" target="App.assetsController"}}>
	    	{{view.buttonName}}
	    </button>
    {{/view}}
    </div>

	<br />

	{{#each App.assetsController}}
  		{{description}} {{imei}} {{name}} {{serial}}
  		<br />
	{{/each}}

</script>
