<script type="text/x-handlebars">

	{{#view App.assetsViewController}}
		<button {{action "loadAssets" target="App.assetsController"}}>
	    	{{view.buttonName}}
	    </button>
    {{/view}}

	<br />

	{{#each App.assetsController}}
  		{{description}} {{imei}} {{name}} {{serial}}
  		<br />
	{{/each}}

</script>
