    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100%; border-color: 1px solid #000000 }
    </style>

<script type="text/x-handlebars">

    // try this asset: 351732050017568
    {{#view App.mapTracksView}}
    	{{view Em.TextField placeholder="Asset" valueBinding="App.mapTracksView.asset"}}
        <button {{action "loadTracks" target="App.tracksController"}}>
            {{view.name}}
        </button>
    {{/view}}

</script>

    <div id="map_canvas" style="width:95%; height:75%;"></div>
