<script type="text/x-handlebars">

	<div class="button_block">
		{{#view App.messagesViewController}}
			<button class="btn" {{action "loadMessages" target="App.messagesController"}}>
			{{#if App.messagesController.length}}
		    	{{view.refresh}}
		    {{else}}
		    	{{view.getmessages}}
		    {{/if}}
		    </button>
	    {{/view}}
	</div>

	<br />

	{{#if App.messagesController.length}}
    <table class="data search_cloud_connect_message">
    	<colgroup>
			<col class="message">
			<col class="thread_id">
			<col class="length">
			<col class="received_at">
		</colgroup>
		<thead>
			<tr>
				<th> Message </th>
				<th> Thread » Id ↓ </th>
				<th> Length </th>
				<th> Received At </th>
			</tr>
		</thead>
		<tbody>
		{{#each App.messagesController}}
			<tr class="cloud_connect_message">
			  <td class="message">{{channel}} <strong>></strong> {{payload}}</td>
			  <td class="thread_id">{{thread_id}}</td>
			  <td class="length">{{length}}</td>
			  <td class="received_at">{{received_at}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{/if}}

</script>
