<script type="text/x-handlebars">

	{{#view App.postMessageFormView}}
		<form class="form-horizontal">
		  <div class="form_post_block">
		    <div class="form_post_label">
		    	Recipient
		    </div>
		    <div class="form_post_input">
		      {{view Em.TextField placeholder="Asset." valueBinding="view.asset"}}
		    </div>
		  </div>
		  <div class="form_post_block">
		    <div class="form_post_label">
		    	Channel
		    </div>
		    <div class="form_post_input">
		      {{view Em.TextField placeholder="Channel identifier." valueBinding="view.channel"}}
		    </div>
		  </div>
		  <div class="form_post_block">
		    <div class="form_post_label">
		    	Payload (b64)
		    </div>
		    <div class="form_post_input">
		      {{view Em.TextField placeholder="Content of the message" valueBinding="view.payload"}}
		    </div>
		  </div>
		  <div class="form_post_submit">
		   	<button class="btn" type="submit">Post Message</button>
		  </div>
		</form>
	{{/view}}

</script>
